[submodule "accumulo"]
	path = accumulo
	url = https://github.com/bugs-dot-jar/accumulo.git
[submodule "camel"]
	path = camel
	url = https://github.com/bugs-dot-jar/camel.git
[submodule "flink"]
	path = flink
	url = https://github.com/carolhanna01/flink
[submodule "commons-math"]
	path = commons-math
	url = https://github.com/bugs-dot-jar/commons-math.git
[submodule "maven"]
	path = maven
	url = https://github.com/bugs-dot-jar/maven.git
[submodule "jackrabbit-oak"]
	path = jackrabbit-oak
	url = https://github.com/bugs-dot-jar/jackrabbit-oak.git
[submodule "wicket"]
	path = wicket
	url = https://github.com/bugs-dot-jar/wicket.git
[submodule "logging-log4j2"]
	path = logging-log4j2
	url = https://github.com/bugs-dot-jar/logging-log4j2
[submodule "kafka"]
	path = kafka
	url = https://github.com/carolhanna01/kafka
[submodule "spark"]
	path = spark
	url = https://github.com/carolhanna01/spark
[submodule "hbase"]
	path = hbase
	url = https://github.com/carolhanna01/hbase
[submodule "solr"]
	path = solr
	url = https://github.com/carolhanna01/solr
[submodule "hadoop"]
	path = hadoop
	url = https://github.com/carolhanna01/hadoop
[submodule "karaf"]
	path = karaf
	url = https://github.com/carolhanna01/karaf
[submodule "groovy"]
	path = groovy
	url = https://github.com/carolhanna01/groovy
